@import "../styles.css";

.card a {
    align-self: center;
}
.card img {
    display: block;
    max-width: 28rem;
    max-height: 20rem;
    width: auto;
}
.card {
    min-width: 45%;
}


main {
    margin: min(1rem, 10%);
}

a.link {
    color: var(--accent-color);
}