@import "styles.css";

.portfolio-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: var(--bg-secondary);
    height: 3rem;
}



.link-list {
    display: flex;
    align-items: center;
}
.portfolio-nav .link-list li{
    margin-right: 1rem;
}

iframe{
    width: 100%;
    height: calc(100vh - 4rem);
    border: 0;
}


/* set the navbar at the bottom */
@media screen and (max-width:60rem) {
    .portfolio-nav {
        position: fixed;
        bottom: 0;
    }
    .portfolio-nav .title {
        display: none;
    }

    .portfolio-nav {
        justify-content: space-around;
    }

    .portfolio-nav .link-list {
        gap: 1rem;
    }

    .portfolio-nav .link-list li{
        margin-right: 0;
    }

    .portfolio-nav .link-list {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}


.very-big {
    font-size: xxx-large;
}

.main-item {
    margin-left: min(10%, 1rem);
    margin-right: min(10%, 1rem);
}

.main-article {
    margin-left: min(20%, 2rem);
}

.main-article p {
    font-size: 150%;
}
