:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --accent-color: #6649b8;
}

span {
    margin-inline:0;
}

.col-span-all {
    grid-column: 1 / -1;
}

.secondary {
    color: var(--text-secondary);
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

a:visited {
    /*color: #6649b8;*/
    color: var(--text-primary);
}

* {
    box-sizing: inherit;
}

h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    color: var(--text-primary);
    box-sizing: border-box;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}




body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}


.link-text {
    display: none;
    margin-left: 1rem;
}

.disable-select {
    cursor: pointer;
    user-select: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
}

/* Large screens */
@media only screen and (min-width: 600px) {
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --accent-color: #6649b8;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
    --accent-color: gray;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
    --accent-color: #63a0e8;
}

.space-between {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    margin: 1rem;
}
.card {
    min-width: 45%;
    background-color: var(--bg-secondary);
    padding: 1rem;
    border-radius: 1rem;

    transition: transform 0.5s ease-out;
}
.card:hover {
    transform: scale(1.05, 1.05);
}

.name {
    color: var(--accent-color);
}

.title
{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

