@import "../styles.css";



.very-big {
    font-size: xxx-large;
}

.main-item {
    margin-left: min(10%, 1rem);
    margin-right: min(10%, 1rem);
}

.main-article {
    margin-left: min(20%, 2rem);
}

.main-article p {
    font-size: 150%;
}
