@import url("../styles.css");


.main-item {
    padding-left: min(2rem, 10%);
    padding-right: min(2rem, 10%);
    /* space for the footer */
    padding-bottom: 3rem;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--bg-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 -0.5rem 1rem black;
}

footer > * {
    padding: 0.75rem;
}

.mobile-table {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.mobile-table .row {
    display: flex;
    flex-direction: row;
}

.mobile-table .header {
    font-weight: bold;
    width: 4rem;
}

.vertical-table {
    display: none;
}

.vertical-table {
    border-radius: 1rem;
    overflow: hidden;
}

.vertical-table th {
    text-align: start;
}

section > *:last-child {
    margin-bottom: 1rem;
}

/* add margin to any child */
section > *:not(:first-child) {
    margin-left: 1rem;
}

/* first child of any section */
section > *:nth-child(1) {
    margin-top: 0;
    margin-bottom: 1rem;
}

.section-container {
    margin-top: 1rem;
    display: grid;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 3rem;
    margin-bottom: 1rem;
}

.section-container section {
    min-width: 45%;
    background-color: var(--bg-secondary);
    padding: 1rem;
    border-radius: 1rem;

    transition: transform 0.5s ease-out;
}

.section-container section:hover {
    transform: scale(1.05, 1.05);
}


/* we don’t want more than 3 columns */
@media screen and (min-width: 90rem) {
    .section-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 480px) {
    .vertical-table {
        display: table;
    }


    .mobile-table {
        display: none;
    }
}


.experience-section {
    grid-row: span 2;
}


.skills-list {
    list-style: disc;
}


.language {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.language label {
    min-width: 2rem;
}

.experiences-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 1rem;
    gap: 1.5rem;
}

.school-section {
    grid-row: span 2;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.links-rows {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.links-rows li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.links-rows li p {
    margin: 0;
    padding: 0;
}

.links-rows li *:nth-child(2) {
    margin-left: 0.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-info li *:nth-child(2) {
    margin-left: 0.5rem;
}


.schools-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    list-style: none;
    margin-left: 1rem;
    gap: 1.5rem;
}

.experiences-list li {
    display: flex;
    flex-direction: column;
}


.experiences-list li .work-description {
    list-style: none;
    padding: 0;
    margin:0;
}

.workplace {
    font-size: x-small;
    padding: 0;
    overflow: hidden;
    margin-bottom: 1rem;
}

.school-date {
    margin-top: 0.5rem;
    font-size: medium;
    padding: 0;
    overflow: hidden;
    margin-bottom: 1rem;
}

#cv-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#cv-header *:last-child {
    margin-left: auto;
}

.profile-picture {
    margin: 1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    aspect-ratio: 1 / 1;

    transition: all 0.33s ease-out;
}

.profile-picture:not(:active):hover {
    box-shadow: 0 0 0.5rem 1rem var(--bg-secondary);
    transform: scale(1.1, 1.1);
}

.profile-picture:active {
    /*border: solid 0.25rem var(--bg-secondary);*/
    /*padding: 0.25rem;*/
    box-shadow: 0 0 0 0.5rem var(--accent-color);
}

.separator {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.separator li{
    flex-basis: content;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.separator li + li
{
    border-left: 1px solid white;
    border-image: linear-gradient(transparent, var(--text-secondary) 30%, var(--text-secondary) 70%, transparent) 1 100%;
}

.name {
    color: var(--accent-color);
}
