@import "../styles.css";

img {
    color: white;
    height: 3rem;
}
svg.icon {
    height: 3rem;
    color: var(--text-secondary)
}

main {
    --side-margin: min(10%, 2rem);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
}

.links-rows {
    display: flex;
    flex-direction: column;
}

.links-rows li {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon {
    width: 2rem;
}
.links-rows li *:nth-child(2) {
    margin-left: 1rem;
}