@import "../styles.css";

header {
    margin-left: min(10%, 2rem);
}

.article-title {
    margin-left: 20%;
}

article {
    display: flex;
    justify-content: center;
}

.logbook-table {
    margin: 1rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.logbook-table td:nth-child(1) {
    width: 3rem;
}
.logbook-table td:nth-child(2) {
    width: 9rem;
}
.logbook-table td:nth-child(3) {
}

.logbook-table thead tr {
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: var(--text-secondary);
    text-align: left;
}

.logbook-table th,
.logbook-table td {
    padding: 12px 15px;
}


.logbook-table tbody tr {
    border-bottom: thin solid #dddddd;
    background-color: var(--bg-primary);
}

.logbook-table tbody tr:nth-of-type(even) {
    background-color: var(--bg-secondary);
}


.logbook-table tbody tr.active-row {
    font-weight: bold;
    color: var(--accent-color);
}

embed {
    width: 69%;
    height: 100vh;
}
