@import "../styles.css";

.info-main {
    margin-left: min(1rem, 10%);
    margin-right: min(1rem, 10%);
}

.skills-table {
    margin: 1rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.skills-table tr td:first-child {
    font-weight: bold;
    max-width: 1%;
}

.skills-table tr td:nth-child(2) {
    width: 25%;
}
.skills-table tr td:nth-child(3) {
    width: 15%;
}

.skills-table tr td:nth-child(4) {
    width: 15%;
}


.skills-table tr td:last-child {
    width: 50%;
}

.more-info {
    margin-left: 3rem;
}

.more-info a {
    color: var(--accent-color);
}


.skills-table thead tr {
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: var(--text-secondary);
    text-align: left;
}

.skills-table th,
.skills-table td {
    padding: 12px 15px;
}


.skills-table tbody tr {
    border-bottom: thin solid #dddddd;
    background-color: var(--bg-primary);
}

.skills-table tbody tr:nth-of-type(even) {
    background-color: var(--bg-secondary);
}

.pdf {
    height: 30rem;
    width: 80%;
}


.skills-table tbody tr.active-row {
    font-weight: bold;
    color: var(--accent-color);
}

.reflection-section h3 {
    margin-left: 1rem;
}